version: '3.8'

services:
  westagentur:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    container_name: westagentur-app
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost/health"]
      interval: 30s
      timeout: 3s
      start_period: 5s
      retries: 3
    environment:
      - NODE_ENV=production
